---
import { getCollection, render } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import config from '../content/config/config.json';

export async function getStaticPaths() {
	const pages = await getCollection("page");
	return pages
		.filter((p) => p.id !== "home")
		.map((p) => ({
			params: { slug: p.id },
			props: { entry: p },
		}));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={entry.data.seoTitle} description={config.seo.description} />
	</head>
	<body>
		<Header />
		<main>
			<Content />
		</main>
		<Footer />
	</body>
</html>
